/*
 * Colores obtenidos de:
 *    http://www.colorcombos.com/color-schemes/7625/ColorCombo7625.html
 *
 */
/***************************/
/** Reglas para etiquetas **/
/***************************/
h1{
  color:green;
  font-size: 2em;
}
h3{
  color:purple;
  font-size: 2em;
}/*
p {
  color:red;
  //background-color: black;
//  font-size: 8px;
}*/
/*
p {
  background-color: brown;
}
Strong{
  font-weight: normal;
  font-style: italic;
}
em{
  font-style: normal;
  font-weight: normal;
}*//*
#presentacion{
  color: magenta;
}
.relevante{
  background-color: purple;
  color: red;
}
#presentacion .relevante{
  background-color: blue;
}
ul li ul li{
  color: green;
}
*/
.glosario{
width: auto;
  margin: 0px auto;
  height: 200px;
  background-color: pink;
  overflow: scroll;
  background-position: center;
}
.imagen{

  height: auto;
  float: right;
}
.critica{

  float: left;
  background-color: silver;
}
.principal{
  background-color: brown;
  background-position: center;
}
.comentarios{
  width: 60%;
  overflow: scroll;
  margin: 0px auto;
  height: 200px;
  background-color: black;
  background-position: center;
}
.re{
  background-color: silver;
}
